<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Streaming App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Upload and Stream Any Data Set!</h1>
      </div>
    </div>
    <div class="row">
		<form method=post enctype=multipart/form-data>
		  <div class="form-group">
		    <label for="file_upload">Choose a file to upload</label>
		    <input type=file name=file>
		    <button type="submit" class="btn btn-primary">Submit</button>
		  </div>
		</form>
  </div>

  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

</body>

</html>